.navContainer {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
}

.navIcon {
  font-size: 40px;
}

.navBtnEnabled {
  color: #4e514f;
}

.navBtnEnabled:hover {
  cursor: default;
}

.navBtnDisabled {
  color: #c7ccc7;
}
