.savedRecipesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.savedRecipesTitle {
  margin: 100px 0 50px 0;
  font-size: 50px;
  font-weight: 500;
}

.savedRecipesError {
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  margin-top: 100px;
}
