.ingredientSearchContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 90px;
  align-self: center;
}

.ingredientForm {
  display: flex;
  justify-content: center;
}

.ingredientSearch {
  border: none;
  outline: none;
  width: 100%;
  background-color: #f5f5f5;
  padding: 15px 15px 8px 15px;
  font-size: 25px;
  border-radius: 10px 0 0 10px;
}

.ingredientSubmitBtn {
  color: white;
  background-color: #1cd22e;
  border-radius: 0 10px 10px 0;
  padding: 15px;
}

.disabled {
  background-color: #9ce7a4;
}

.disabled:hover {
  cursor: default;
}

.searchBtn {
  align-self: center;
  background-color: #e8e8e8;
  font-size: 30px;
  margin-top: 120px;
  padding: 7px 25px;
  border-radius: 10px;
}

.notFound {
  color: #de5151;
  align-self: center;
  font-size: 50px;
  padding-top: 160px;
  filter: drop-shadow(1px 1px 1px #9f9f9f);
}

.searchBtn:hover {
  background-color: #dcdcdc;
}

.searchBtn:active {
  background-color: #d3d3d3;
}

.searchBtnDisabled {
  background-color: #d5d5d5;
}

.searchBtnDisabled:hover {
  background-color: #d5d5d5;
  cursor: not-allowed;
}
